Hi {{.OwnerName}},

You started creating a Limen workspace called "{{.TenantName}}".
Confirm this email address to continue:

{{.VerifyURL}}

This link expires in {{.ExpiresIn}}. If you didn't request this, you
can safely ignore this email.
